<nav class='navbar navbar-expand-lg navbar-dark bg-primary'>
	<div class='container-fluid'>
		<a class='navbar-brand' href='#'>CoderHouse</a>
		<button
			class='navbar-toggler'
			type='button'
			data-bs-toggle='collapse'
			data-bs-target='#navbarColor01'
			aria-controls='navbarColor01'
			aria-expanded='false'
			aria-label='Toggle navigation'
		>
			<span class='navbar-toggler-icon'></span>
		</button>

		<div class='collapse navbar-collapse' id='navbarColor01'>
			<ul class='navbar-nav me-auto'>
				<li class='nav-item'>
					<a class='nav-link' href='/products'>Home
						<span class='visually-hidden'>(current)</span>
					</a>
				</li>
				<li class='nav-item'>
					<a class='nav-link' href='/addProduct'>Add Product</a>
				</li>

			</ul>
			<a class='d-flex' href='https://enzovignolo.github.io'>
				<span class='form-control me-sm-2'>
					Enzo Vignolo
				</span>
			</a>
		</div>
	</div>
</nav>