td,
th {
	font-size: 1.3rem;
}
footer {
	margin: auto;
	text-align: center;
}

.chat-container {
	margin: 3% 0;
	padding: 2%;
}
.chat-input {
	padding: 2%;
}
.messenger {
	box-shadow: black;
	background-color: #7d7688;
	margin: 2% auto;
	width: 65%;
}
#chat {
	margin: 10px;
	padding: 2%;
	border-radius: 5%;
	display: inline;
}
#chat-box {
	height: 300px;
}
.loginLogo {
	width: 20px;
	height: 20px;
	margin-right: 5%;
}
@media (max-width: 600px) {
	.messenger {
		width: 100%;
	}
}
